/* body{
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #F85D5D 0%, #6E0000 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50%;
    text-align: center;
}

.login-container {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;
}

@media only screen and (max-device-width: 420px){
    .container {
        flex-direction: column;
    }

    *{
        font-size:36px;
    }

    .login-container, .logo {
        width: 100%;
    }

    form {
        margin: auto;
    }

    img {
        height: 7em;
        margin: 2em;
    }
} */

header {
    height:100wh;
    background-Image:url('../assets/header.jpeg');
    background-position: center;
    background-size: cover;
}
nav{
    background: transparent;
    border-bottom: 2px solid white;
}

header button{
    background: transparent;
    border: 2px solid white;
    color: white;
    padding:5px;
    font-size:26px;
}
#reservation{
    background-image: url('../assets/header.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#reservation h1{
    color: white;
}
#reservation label{
    font-weight: bold;
}